{% if site.summary %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    Career Profile
  </h2>

  <div class="summary">
    <p>{{ site.summary }}</p>
  </div><!--//summary-->

</section><!--//section-->
{% endif %}
