<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if site.email %}
      <li class="email"><i class="fas fa-envelope"></i>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {% endif %}

    {% if site.phone %}
      <li class="phone"><i class="fas fa-phone"></i>
        <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
      </li>
    {% endif %}

    {% if site.website %}
      <li class="website"><i class="fas fa-globe-americas"></i>
        <a href="https://{{ site.website }}" target="_blank">{{ site.website }}</a>
      </li>
    {% endif %}

    {% if site.linkedin %}
      <li class="linkedin"><i class="fab fa-linkedin-in"></i>
        <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">{{ site.linkedin }}</a>
      </li>
    {% endif %}

    {% if site.github %}
      <li class="github"><i class="fab fa-github"></i>
        <a href="https://github.com/{{ site.github }}" target="_blank">{{ site.github }}</a>
      </li>
    {% endif %}

    {% if site.gitlab %}
      <li class="github"><i class="fab fa-gitlab"></i>
        <a href="https://gitlab.com/{{ site.gitlab }}" target="_blank">{{ site.gitlab }}</a>
      </li>
    {% endif %}

    {% if site.bitbucket %}
      <li class="github"><i class="fab fa-bitbucket"></i>
        <a href="https://bitbucket.org/{{ site.bitbucket }}" target="_blank">{{ site.bitbucket }}</a>
      </li>
    {% endif %}

    {% if site.twitter %}
      <li class="twitter"><i class="fab fa-twitter"></i>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">{{ site.twitter }}</a>
      </li>
    {% endif %}

    {% if site.stackoverflow %}
      <li class="github"><i class="fab fa-stack-overflow"></i>
        <a href="https://stackoverflow.com/story/{{ site.stackoverflow }}" target="_blank">{{ site.stackoverflow }}</a>
      </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
