{% if site.data.educations %}
  {% if site.education %}
  <section class="section educations-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      Education
    </h2>

    {% for education in site.data.educations %}
      <div class="item">

        <div class="meta">
          <div class="upper-row">

            {% if education.image %}
            <a href="{{ education.link }}">
              <img class="university-img" src="/assets/img/education/{{ education.image }}" alt="{{ education.university }}"/>
            </a>{% endif %}

            <h3 class="degree">{{ education.degree }}</h3>
            <div class="time">{{ education.time }}</div>
            <div class="department">{{ education.department }}</div>
            <div class="university">{{ education.university }}</div>

          </div><!--//upper-row-->
        </div><!--//meta-->

        {% if education.details %}
        <div class="details">
          <p>{{ education.details }}</p>

          {% if education.bullets %}
          <ul>
            {% for bullet in education.bullets %}
              <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div><!--//details-->
        {% endif %}

      </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
  {% else %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      Education
    </h2>

    {% for education in site.data.educations %}
    <div class="item">
      <h4 class="degree">{{ education.degree }}</h4>
      <h5 class="meta">{{ education.university }}</h5>
      <div class="time">{{ education.time }}</div>
    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
  {% endif %}
{% endif %}
