{% if site.data.experiences %}
<section class="section experiences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in site.data.experiences %}
  <div class="item">

    <div class="meta">
      <div class="upper-row">

        {% if experience.image %}
        <a href="{{ experience.link }}">
          <img class="company-img" src="/assets/img/experience/{{ experience.image }}" alt="{{ experience.company }}"/>
        </a>
        {% endif %}

        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
        <div class="company">{{ experience.company }}</div>

      </div><!--//upper-row-->
    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      <p>{{ experience.details }}</p>

      {% if experience.bullets %}
      <ul>
        {% for bullet in experience.bullets %}
          <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
