<footer class="footer">
  <div class="text-center">
    <small class="copyright">Updated on {{ site.time | date: '%B %-d, %Y' }}.</small>
      <br>
    <small class="copyright">
      Download PDF version
      {% if site.EN %}
        <a href="http://cv.estevao.xyz/{{ site.EN }}" target="_blank">EN</a>
      {% endif %}
/
      {% if site.PT %}
        <a href="http://cv.estevao.xyz/{{ site.PT }}" target="_blank">PT</a>
      {% endif %}

      {% if site.FR %}
        <a href="http://cv.estevao.xyz/{{ site.FR }}" target="_blank">FR</a>
      {% endif %}

      {% if site.DE %}
        <a href="http://cv.estevao.xyz/{{ site.DE }}" target="_blank">DE</a>
      {% endif %}.
    </small>
      <br><br>
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank" rel="nofollow">Xiaoying Riley</a></small>
  </div><!--//container-->
</footer><!--//footer-->
