{% if site.data.languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Languages
  </h2>

  <ul class="list-unstyled interests-list">

    {%for language in site.data.languages %}
    <li>
      {{ language.idiom }} 
      <span class="lang-desc">
        ({{ language.level }})
      </span>
    </li>
    {% endfor %}

  </ul>

</div><!--//interests-->
{% endif %}
