{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Projects
  </h2>

  {% if site.data.projects.intro %}
  <div class="intro">
    <span>{{ site.data.projects.intro }}</span>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.projects.assignments %}
  <div class="item">

    <span class="project-title">
      <a href="{{ project.link }}">{{ project.title }}</a>
    </span>

    {% if project.tagline %}
    - <span class="details">{{ project.tagline }}</span>
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
