{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-text fa-stack-1x fa-inverse"></i>
    </span>
    Publications
  </h2>

  {% if site.data.publications.intro %}
  <div class="intro">
    <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for publication in site.data.publications.papers %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
