<div class="sidebar-wrapper">

  <div class="profile-container">

    <img class="profile-img" src="/assets/img/{{ site.avatar }}" alt="{{ site.name }}'s profile picture'" />

    <h1 class="name">{{ site.name }}</h1>

    {% if site.tagline %}
    <h3 class="tagline">{{site.tagline}}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% unless site.education %}
    {% include education.html %}
  {% endunless %}

  {% include languages.html %}
  {% include interests.html %}

</div><!--//sidebar-wrapper-->
